<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <img src alt>
      <title>BLOOM</title>
      <link
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
         rel="stylesheet"
         integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
         crossorigin="anonymous">
      <link rel="stylesheet" href="/assets/scss/Client/index.css">
      <link rel="stylesheet"
         href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
      <link rel="icon" type="image/png" href="/assets/image/icon/Logo2.png">
   </head>

   <body>
      <header class="banner">
         <div class="box_top_bottom">
            <div class="banner_top  border-1 d-flex justify-content-center">
               <img src="/assets/image/main/header.jpg" alt width="80%"
                  height="100%">
            </div>

            <div class="banner_bottom ">
               <div class="menu d-flex  align-items-center col-10 m-auto">
                  <div class="d-flex  align-items-center box col-6">
                     <div class="logo">
                        <img src="/assets/image/icon/Logo.png" width="100%"
                           alt="logo">
                     </div>

                     <div class="search">
                        <div class="InputContainer">
                           <input placeholder="Search" id="input" class="input"
                              name="text" type="text" />
                           <label class="labelforsearch" for="input">
                              <svg class="searchIcon" viewBox="0 0 512 512">
                                 <path
                                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z">
                                 </path>
                              </svg>
                           </label>
                        </div>

                     </div>
                  </div>

                  <div
                     class="d-flex  align-items-center box col-6 justify-content-end ">
                     <div class="account">
                        <a href class="d-flex account_title ">
                           <p>Đăng nhập / Đăng ký </p> <span
                              class="material-symbols-outlined">
                              account_circle
                           </span>
                        </a>

                        <div class="account_dropdown">
                           <a class="Login" href="#">Đăng Nhập </a> <br>
                           <a href="#" class="Register"> Đăng Ký </a>
                        </div>
                     </div>
                     <a class="cart_shopping col-2 " title="Giỏ hàng">
                        <span class="material-symbols-outlined">
                           shopping_cart
                        </span>
                     </a>
                  </div>

               </div>
            </div>
         </div>

         <div class=" banner_menu_main d-flex  align-items-center">
            <ul class=" d-flex col-10  ">
               <li><a href="/View/Client/index.html">Trang chủ</a></li>
               <li><a href="/View/Client/Page/product.html">Sản phẩm</a></li>
               <li><a href>Giới thiệu </a></li>
               <li><a href>Liên hệ </a></li>
            </ul>
         </div>
      </header>
      <div class="banner_baiviet d-flex">
         <h1 class="text_bdbv1">Hướng dẫn xử lý cây cảnh khi mới mua về</h1>
         <p class="text_bdbv2">đây là hướng dẫn</p>
      </div>
      <div class="title_baiviet"></div>
      <main class=" main_news col-10 m-auto d-flex"> <!-- main tổng -->
         <div class="news_total row">
            <div class="news_big col-9">
               <article class="news_article">
                  <div class="news-content">
                     <p>Khi mang một cây mới về nhà, đó không chỉ là việc bổ
                        sung thêm sắc xanh, mà còn là mang cả hơi thở tự
                        nhiên, sinh khí và một mảnh của thiên nhiên vào không
                        gian sống của chúng ta. Cây không chỉ đơn thuần là
                        một vật trang trí, mà còn là một người bạn âm thầm
                        lọc sạch không khí, mang đến sự thư thái và làm dịu
                        đi những căng thẳng hằng ngày. Mỗi chiếc lá, mỗi cành
                        nhánh đều có một câu chuyện riêng, và khi đưa cây vào
                        nhà, bạn đang chào đón một sinh thể sống, một món quà
                        từ thiên nhiên đến gần hơn với cuộc sống của mình. Để
                        cây có thể tươi tốt, khoẻ mạnh, bạn hãy thực hiện
                        những bước chăm sóc đầy ân cần và chu đáo, như chăm
                        chút cho một người bạn đồng hành mới, giúp cây sớm
                        thích nghi và đơm chồi nảy lộc, ngay từ khoảnh khắc
                        “người bạn xanh” này bước vào ngôi nhà của bạn.</p>
                        <hr>
                     <h1>1.Kiểm Tra tình Trạng Cây khi vừa mới nhận hàng</h1>
                     <img src="/assets/image/instruction/news_img1.jpeg"
                        width="100%" alt>
                     <p>Khi vừa mang cây về, hãy nhẹ nhàng kiểm tra cây để xem
                        có phần nào cần được chăm sóc đặc biệt hay không. Nhẹ
                        tay lật bầu đất, quan sát xem hệ rễ có khỏe mạnh, trắng
                        sáng, không bị mục rữa hay đen tối không. Nếu phát hiện
                        những đoạn rễ đã yếu ớt, hãy dùng kéo sắc cắt tỉa đi để
                        tránh lây lan, như thể bạn đang “làm sạch” cho cây vậy.
                        Lá cây cũng cần một chút chăm chút - loại bỏ những chiếc
                        lá úa vàng, không còn sức sống, để cây thêm phần tươi
                        mới, sẵn sàng cho một hành trình mới.</p>
                     <h1>2.Đất trồng – Dọn “tổ ấm” mới cho cây</h1>
                     <img src="/assets/image/instruction/news_img2.jpg" alt>
                     <p>Đất trồng giống như ngôi nhà mới mà bạn chuẩn bị cho
                        cây. Để cây có thể phát triển lâu dài, bạn hãy thay lớp
                        đất bán sẵn bằng đất giàu dinh dưỡng, thoát nước tốt –
                        một chút đất trộn xơ dừa, phân hữu cơ, và một ít trấu,
                        tất cả sẽ tạo nên một “ngôi nhà” ấm áp và thân thiện.
                        Nếu không thay đất, hãy xử lý đất bằng cách rắc một ít
                        vôi bột hay phơi đất dưới ánh nắng dịu để loại bỏ những
                        vi khuẩn hay sâu bệnh tiềm ẩn. Đó là sự chuẩn bị chu đáo
                        nhất mà bạn dành cho cây để cây có thể an tâm “bén rễ”
                        và phát triển.</p>
                     <h1>3.Tưới nước – Gửi trao yêu thương bằng từng giọt
                        nước</h1>
                     <img src="/assets/image/instruction/news_img3.jpg" alt>
                     <p>Tưới nước cho cây cũng giống như trao yêu thương, đừng
                        quá nhiều cũng đừng quá ít. Lần đầu tiên, hãy tưới nước
                        đẫm để đảm bảo đất ẩm mượt, giúp cây hồi phục sau hành
                        trình di chuyển. Nhưng đừng để nước đọng trong chậu, kẻo
                        gây úng rễ. Từ những ngày sau, quan sát kỹ, chỉ cần chạm
                        tay thấy mặt đất khô ráo rồi mới nhẹ nhàng tưới thêm,
                        như cách bạn chăm chút cho sự sống non nớt.</p>
                     <h1>4.Ánh sáng – Tặng cây một nơi “nghỉ ngơi” dịu dàng</h1>
                     <img src="/assets/image/instruction/news_img4.jpg" alt>
                     <p>Những ngày đầu tiên, đừng vội đặt cây dưới ánh nắng gay
                        gắt. Hãy chọn một góc nhỏ có ánh sáng nhẹ nhàng, nơi cây
                        có thể từ từ làm quen với môi trường mới mà không bị
                        căng thẳng bởi ánh sáng mạnh. Sau 1-2 tuần, bạn có thể
                        đưa cây ra nơi có ánh sáng tốt hơn để cây phát triển,
                        nhưng nhớ chỉ đón nắng vào buổi sáng hoặc chiều muộn,
                        khi nắng đã dịu. Đó là món quà ánh sáng nhẹ nhàng mà bạn
                        dành tặng cho người bạn xanh này.</p>
                     <h1>5.Cắt tỉa và tạo dáng – Làm đẹp thêm “diện mạo” của
                        cây</h1>
                     <img src="/assets/image/instruction/news_img5.jpg" alt>
                     <p>Nếu bạn muốn cây không chỉ xanh tươi mà còn đẹp mắt, hãy
                        cắt tỉa bớt những lá vàng, lá hỏng. Với sự khéo léo, bạn
                        có thể tạo dáng cho cây, như chăm chút thêm cho bộ cánh
                        mới đầy sức sống. Đây cũng là cách giúp cây dồn năng
                        lượng vào những phần khỏe mạnh, thêm phần xinh đẹp và
                        rạng rỡ.</p>
                     <h1>6.Bón phân – Nâng niu từng đợt phát triển</h1>
                     <img src="/assets/image/instruction/news_img6.jpg" alt>
                     Sau một thời gian thích nghi, cây sẽ cần thêm chất dinh
                     dưỡng để phát triển. Khoảng 2-4 tuần sau khi mua về, bạn có
                     thể bắt đầu bón một chút phân hữu cơ hoặc phân NPK pha
                     loãng để “tiếp sức” cho cây. Nhưng đừng quá vội vàng, vì
                     quá nhiều phân sẽ làm rễ cây tổn thương. Hãy bón phân nhẹ
                     nhàng như cách bạn bày tỏ sự quan tâm thầm lặng cho sức
                     khỏe của cây.
                     <h1>7.Quan sát – Để sự sống xanh được đơm hoa kết trái</h1>
                     <img src="/assets/image/instruction/news_img7.jpg" alt>
                     <p>Cuối cùng, mỗi ngày trôi qua, hãy dành chút thời gian
                        quan sát cây. Dõi theo từng chiếc lá, từng chồi non, bạn
                        sẽ dần nhận ra những tín hiệu nhỏ mà cây gửi đến, cho
                        biết cây đang khỏe mạnh hay cần điều chỉnh gì thêm. Nếu
                        lá hơi rủ, vàng hay có dấu hiệu lạ, bạn sẽ biết ngay để
                        kịp thời điều chỉnh ánh sáng, nước hay nhiệt độ.

                        Những bước chăm sóc đầy yêu thương này sẽ giúp cây xanh
                        của bạn có thể an yên và phát triển, mang đến không gian
                        sống của bạn một làn gió tươi mát và những phút giây
                        bình yên đáng quý.</p>

                  </div><!-- end -->

               </article>

            </div>
            <div class="news_small col-3">

               <aside class="news_categories"><span class="aside-title d-flex">DANH MỤC BÀI VIẾT</span>
                  <hr>
                  <ul>
                     <li class="news_categorie"><a href="">Cảm hứng và ý tưởng</a></li>
                     <li class="news_categorie"><a href="">Kiến thức và cách chăm sóc</a></li>
                     <li class="news_categorie"><a href="">MOW Garden 360</a></li>
                     <li class="news_categorie"><a href="">Phong Thủy</a></li>
                     <li class="news_categorie"><a href="">Thông tin về cây</a></li>
                 </ul>
               </aside>
               <hr>
               <aside
                  class="news_categories"><span
                     class="aside-title d-flex">Có thể bạn thích</span>
                     <hr>
                     <ul
                     class="product_list_widget"><li>
                        <a
                           href="https://mowgarden.com/cay-kim-tien-de-ban/">
                           <img width="125" height="125"
                              src="https://mowgarden.com/wp-content/uploads/2021/06/cay-kim-tien-de-ban-chau-gom-su-125x125.jpg"
                              class="attachment-woocommerce_gallery_thumbnail size-woocommerce_gallery_thumbnail"
                              alt decoding="async" loading="lazy"
                              srcset="https://mowgarden.com/wp-content/uploads/2021/06/cay-kim-tien-de-ban-chau-gom-su-125x125.jpg 125w, https://mowgarden.com/wp-content/uploads/2021/06/cay-kim-tien-de-ban-chau-gom-su-800x800.jpg 800w, https://mowgarden.com/wp-content/uploads/2021/06/cay-kim-tien-de-ban-chau-gom-su-280x280.jpg 280w, https://mowgarden.com/wp-content/uploads/2021/06/cay-kim-tien-de-ban-chau-gom-su-768x768.jpg 768w, https://mowgarden.com/wp-content/uploads/2021/06/cay-kim-tien-de-ban-chau-gom-su-20x20.jpg 20w, https://mowgarden.com/wp-content/uploads/2021/06/cay-kim-tien-de-ban-chau-gom-su.jpg 1200w"
                              sizes="(max-width: 125px) 100vw, 125px">
                           <span class="product-title">Cây kim
                              tiền nhỏ để bàn chậu sứ
                              ZAMI003</span>
                        </a>

                        <del aria-hidden="true"><span
                              class="woocommerce-Price-amount amount"><bdi>185.000<span
                                    class="woocommerce-Price-currencySymbol">₫</span></bdi></span></del>
                        <ins><span
                              class="woocommerce-Price-amount amount"><bdi>150.000<span
                                    class="woocommerce-Price-currencySymbol">₫</span></bdi></span></ins>
                     </li>
                     <li>

                        <a
                           href="https://mowgarden.com/cay-co-lan-chi-de-ban-chau-uom-spi001/">
                           <img width="125" height="125"
                              src="https://mowgarden.com/wp-content/uploads/2021/04/cay-co-lan-chi-chau-uom-125x125.jpg"
                              class="attachment-woocommerce_gallery_thumbnail size-woocommerce_gallery_thumbnail"
                              alt="cây cỏ lan chi để bàn"
                              decoding="async" loading="lazy"
                              srcset="https://mowgarden.com/wp-content/uploads/2021/04/cay-co-lan-chi-chau-uom-125x125.jpg 125w, https://mowgarden.com/wp-content/uploads/2021/04/cay-co-lan-chi-chau-uom-800x800.jpg 800w, https://mowgarden.com/wp-content/uploads/2021/04/cay-co-lan-chi-chau-uom-280x280.jpg 280w, https://mowgarden.com/wp-content/uploads/2021/04/cay-co-lan-chi-chau-uom-768x768.jpg 768w, https://mowgarden.com/wp-content/uploads/2021/04/cay-co-lan-chi-chau-uom-20x20.jpg 20w, https://mowgarden.com/wp-content/uploads/2021/04/cay-co-lan-chi-chau-uom.jpg 1200w"
                              sizes="(max-width: 125px) 100vw, 125px">
                           <span class="product-title">Cây cỏ lan
                              chi để bàn chậu ươm SPID001</span>
                        </a>

                        <del aria-hidden="true"><span
                              class="woocommerce-Price-amount amount"><bdi>30.000<span
                                    class="woocommerce-Price-currencySymbol">₫</span></bdi></span></del>
                        <ins><span
                              class="woocommerce-Price-amount amount"><bdi>25.000<span
                                    class="woocommerce-Price-currencySymbol">₫</span></bdi></span></ins>
                     </li>
                     <li>

                        <a
                           href="https://mowgarden.com/cay-kim-tien-de-ban-tieu-canh-ong-ba-chau-su-zami027/">
                           <img width="125" height="125"
                              src="https://mowgarden.com/wp-content/uploads/2022/11/cay-kim-tien-tieu-canh-de-ban-125x125.jpg"
                              class="attachment-woocommerce_gallery_thumbnail size-woocommerce_gallery_thumbnail"
                              alt decoding="async" loading="lazy"
                              srcset="https://mowgarden.com/wp-content/uploads/2022/11/cay-kim-tien-tieu-canh-de-ban-125x125.jpg 125w, https://mowgarden.com/wp-content/uploads/2022/11/cay-kim-tien-tieu-canh-de-ban-800x800.jpg 800w, https://mowgarden.com/wp-content/uploads/2022/11/cay-kim-tien-tieu-canh-de-ban-280x280.jpg 280w, https://mowgarden.com/wp-content/uploads/2022/11/cay-kim-tien-tieu-canh-de-ban-768x768.jpg 768w, https://mowgarden.com/wp-content/uploads/2022/11/cay-kim-tien-tieu-canh-de-ban-20x20.jpg 20w, https://mowgarden.com/wp-content/uploads/2022/11/cay-kim-tien-tieu-canh-de-ban.jpg 1200w"
                              sizes="(max-width: 125px) 100vw, 125px">
                           <span class="product-title">Cây kim
                              tiền để bàn tiểu cảnh ông bà chậu
                              sứ ZAMI027</span>
                        </a>

                        <del aria-hidden="true"><span
                              class="woocommerce-Price-amount amount"><bdi>250.000<span
                                    class="woocommerce-Price-currencySymbol">₫</span></bdi></span></del>
                        <ins><span
                              class="woocommerce-Price-amount amount"><bdi>220.000<span
                                    class="woocommerce-Price-currencySymbol">₫</span></bdi></span></ins>
                     </li>
                     <li>

                        <a
                           href="https://mowgarden.com/cay-trau-ba-de-vuong-do-de-ban-red-rojo-chau-su/">
                           <img width="125" height="125"
                              src="https://mowgarden.com/wp-content/uploads/2023/07/trau-ba-de-vuong-do-de-ban-mowgarden-125x125.jpg"
                              class="attachment-woocommerce_gallery_thumbnail size-woocommerce_gallery_thumbnail"
                              alt decoding="async" loading="lazy"
                              srcset="https://mowgarden.com/wp-content/uploads/2023/07/trau-ba-de-vuong-do-de-ban-mowgarden-125x125.jpg 125w, https://mowgarden.com/wp-content/uploads/2023/07/trau-ba-de-vuong-do-de-ban-mowgarden-800x800.jpg 800w, https://mowgarden.com/wp-content/uploads/2023/07/trau-ba-de-vuong-do-de-ban-mowgarden-280x280.jpg 280w, https://mowgarden.com/wp-content/uploads/2023/07/trau-ba-de-vuong-do-de-ban-mowgarden-768x768.jpg 768w, https://mowgarden.com/wp-content/uploads/2023/07/trau-ba-de-vuong-do-de-ban-mowgarden.jpg 1200w"
                              sizes="(max-width: 125px) 100vw, 125px">
                           <span class="product-title">Cây trầu
                              bà đế vương đỏ để bàn 'Red Rojo'
                              chậu sứ PHIR008</span>
                        </a>

                        <del aria-hidden="true"><span
                              class="woocommerce-Price-amount amount"><bdi>350.000<span
                                    class="woocommerce-Price-currencySymbol">₫</span></bdi></span></del>
                        <ins><span
                              class="woocommerce-Price-amount amount"><bdi>320.000<span
                                    class="woocommerce-Price-currencySymbol">₫</span></bdi></span></ins>
                     </li>
                     <li>

                        <a
                           href="https://mowgarden.com/phan-rom-u-hoai/">
                           <img width="125" height="125"
                              src="https://mowgarden.com/wp-content/uploads/2021/05/phan-rom-hoai-muc-1-125x125.jpg"
                              class="attachment-woocommerce_gallery_thumbnail size-woocommerce_gallery_thumbnail"
                              alt decoding="async" loading="lazy"
                              srcset="https://mowgarden.com/wp-content/uploads/2021/05/phan-rom-hoai-muc-1-125x125.jpg 125w, https://mowgarden.com/wp-content/uploads/2021/05/phan-rom-hoai-muc-1-280x280.jpg 280w"
                              sizes="(max-width: 125px) 100vw, 125px">
                           <span class="product-title">Phân rơm ủ
                              hoai hữu cơ</span>
                        </a>

                        <del aria-hidden="true"><span
                              class="woocommerce-Price-amount amount"><bdi>250.000<span
                                    class="woocommerce-Price-currencySymbol">₫</span></bdi></span></del>
                        <ins><span
                              class="woocommerce-Price-amount amount"><bdi>200.000<span
                                    class="woocommerce-Price-currencySymbol">₫</span></bdi></span></ins>
                     </li>
                  </ul>
                  
               </aside>
               <hr>
               <aside class="search_baiviet widget_product_search">
                  <form role="search" method="get" class="search_baiviet" action="https://mowgarden.com/">
                      <div class="flex-row relative">
                          <div class="flex-col flex-grow">
                              <label class="screen-reader-text" for="woocommerce-product-search-field-1">Tìm kiếm:</label>
                              <input type="search" id="woocommerce-product-search-field-1" class="search-field mb-0" placeholder="Tìm kiếm sản phẩm" value name="s" autocomplete="off">
                              <input type="hidden" name="post_type" value="product">
                          </div>
                          <button type="submit" class="search_button">Tìm kiếm</button> <!-- Nút tìm kiếm -->
                      </div>
                  </form>
              </aside>
            </div>
         </div>
      </main>

      <footer class="col-10 m-auto">
         <div class="footer_bottom m-auto">
            <div class="col-8 row m-auto">
               <div class="col-4 box_menu_footer">
                  <ul class="menu_footer"><a href>Về Bloom</a>
                     <li><a href>Giới thiệu Bloom</a></li>
                     <li><a href>Tuyển Dụng</a></li>
                     <li><a href>Chính sách bảo mật</a></li>
                     <li><a href>Điều khoản sử dụng</a></li>
                     <li><a href>Liên hệ</a></li>
                  </ul>
               </div>
               <div class="col-4 box_menu_footer">
                  <ul class="menu_footer"><a href>Hỗ trợ khách hàng</a>
                     <li><a href>Gửi yêu cầu hỗ trợ</a></li>
                     <li><a href>Hướng dẫn đặt hàng</a></li>
                     <li><a href>Phương thức vận chuyển</a></li>
                     <li><a href>Chính sách đổi trả</a></li>
                  </ul>
               </div>
               <div class="col-4 box_menu_footer">
                  <ul class="menu_footer"><a href>Nước Hoa</a>
                     <li><a href>Nước Hoa Nữ </a></li>
                     <li><a href> Nước Hoa Nam </a></li>
                     <li><a href> Xịt Thơm Toàn Thân</a></li>

                  </ul>
               </div>
            </div>
         </div>
      </footer>

      <script src="/assets/Js/slideshow.js"></script>

   </body>

</html>