<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <img src="" alt="">
   <title>BLOOM</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   <link rel="stylesheet" href="/assets/scss/Client/index.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
   <link rel="icon" type="image/png" href="/assets/image/icon/Logo2.png">
</head>

<body>
   <header class="banner">
      <div class="box_top_bottom">
         <div class="banner_top  border-1 d-flex justify-content-center">
            <img src="/assets/image/main/header.jpg" alt="" width="80%" height="100%">
         </div>

         <div class="banner_bottom ">
            <div class="menu d-flex  align-items-center col-10 m-auto">
               <div class="d-flex  align-items-center box col-6">
                  <div class="logo">
                     <img src="/assets/image/icon/Logo.png" width="100%" alt="logo">
                  </div>

                  <div class="search">
                     <div class="InputContainer">
                        <input placeholder="Search" id="input" class="input" name="text" type="text" />
                        <label class="labelforsearch" for="input">
                           <svg class="searchIcon" viewBox="0 0 512 512">
                              <path
                                 d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z">
                              </path>
                           </svg>
                        </label>
                     </div>

                  </div>
               </div>

               <div class="d-flex  align-items-center box col-6 justify-content-end ">
                  <div class="account">
                     <a href="" class="d-flex account_title ">
                        <p>Đăng nhập / Đăng ký </p> <span class="material-symbols-outlined">
                           account_circle
                        </span>
                     </a>

                     <div class="account_dropdown">
                        <a class="Login" href="#">Đăng Nhập </a> <br>
                        <a href="#" class="Register"> Đăng Ký </a>
                     </div>
                  </div>
                  <a class="cart_shopping col-2 " title="Giỏ hàng">
                     <span class="material-symbols-outlined">
                        shopping_cart
                     </span>
                  </a>
               </div>

            </div>
         </div>
      </div>

      <div class=" banner_menu_main d-flex  align-items-center">
         <ul class=" d-flex col-10  ">
            <li><a href="/View/Client/index.html">Trang chủ</a></li>
            <li><a href="/View/Client/Page/product.html">Sản phẩm</a></li>
            <li><a href="">Giới thiệu </a></li>
            <li><a href="">Liên hệ </a></li>
         </ul>
      </div>
   </header>
   <main class="col-12 m-auto instruction">
    <section class="section_1">
        <div class="title"><h1 class="text_section_1">Giống Cây Nổi Bật</h1></div> <!-- nền -->
        <div  class="post_total d-flex justify-content-between col-10 m-auto">
            <div class="post_1 col-4 d-flex ">
                <img src="/assets/image/instruction/post1.jpeg" alt="" width="100%" >
                <div class="text_post"><h1>Hoa Hướng Dương</h1>
                    <p>Hoa hướng dương thể hiện sự lạc quan, mạnh mẽ, luôn hướng về một tương lai tươi sáng mạnh mẽ.</p>
                </div>
            </div>
            <div class="post_1 col-4 d-flex">
                <img src="/assets/image/instruction/post3.jpeg" alt="" width="100%" >
                <div class="text_post"><h1>Hoa Tulip Trắng</h1>
                    <p>Hoa Tulip trắng  là biểu tượng của tình yêu thuần khiết, niềm đam mê mãnh liệt, sự bình yên và chiến thắng.</p>
                </div>
            </div>
            <div class="post_1 col-4 d-flex">
                <img src="/assets/image/instruction/post2.jpeg" alt="" width="100%" >
                <div class="text_post"><h1>Hoa Bỉ Ngạn</h1>
                <p>Hoa Bỉ ngạn mang đến ý nghĩa chia ly, u buồn, không may mắn hay biểu thị sự chết chóc, tan thương.</p>
                </div>
            </div>
      
        </div>
        </section>
        <section class="section_2">
         <div class="title_2"><h1 class="text_section_1">Hướng dẫn sau mua hàng</h1></div> <!-- nền -->
         <div  class="post_total_2 d-flex  col-10 m-auto">
            <div class="step-box box1 col-2">
               <div class="step-circle">1</div>
               <p>Chuẩn bị đất: Chọn loại đất phù hợp với cây và trộn thêm phân bón nếu cần.</p>
             </div>
         
             <!-- Bước 2 -->
             <div class="step-box box2 col-2">
               <div class="step-circle">2</div>
               <p>Chọn chậu hoặc khu vực trồng: Đảm bảo chậu có lỗ thoát nước hoặc khu vực trồng có đất thoát nước tốt.</p>
             </div>
         
             <!-- Bước 3 -->
             <div class="step-box box3 col-2">
               <div class="step-circle">3</div>
               <p>Nhổ cây ra khỏi chậu cũ: Cẩn thận nhổ cây ra mà không làm tổn thương rễ.</p>
             </div>
         
             <!-- Bước 4 -->
             <div class="step-box box4 col-2">
               <div class="step-circle">4</div>
               <p>Cắt tỉa rễ (nếu cần): Cắt bỏ các rễ hư, bệnh hoặc quá dài.</p>
             </div>

             <!-- Bước 5 -->
             <div class="step-box box5 col-2">
               <div class="step-circle">5</div>
               <p>Trồng cây: Đặt cây vào chậu hoặc khu vực đã chuẩn bị, lấp đất và ấn nhẹ xung quanh để cây đứng vững.</p>
            </div>
               <!-- bước 6 -->
            <div class="step-box_6 box6 col-2">
               <div class="step-circle">6</div>
               <p>Tưới nước: Tưới đủ nước để giữ ẩm cho đất, giúp cây phục hồi và phát triển.</p>
            </div>
               
    

           
         </div>
      
        </section>
        <section class="section_3">
         <div class="title_3"><h1 class="text_section_1">Hướng Dẫn Kỹ Thuật</h1></div> <!-- nền -->
         <div  class="post_total d-flex justify-content-between col-10 m-auto">
            <div class="post_3 col-2 d-flex ">
                <img src="/assets/image/instruction/post4.jpeg" alt="" width="100%" >
                <div class="text_post"><h1>Chọn giống</h1>
                    <p>Hoa hướng dương thể hiện sự lạc quan, mạnh mẽ, luôn hướng về một tương lai tươi sáng mạnh mẽ.</p>
                </div>
            </div>
            <div class="post_3 col-2 d-flex">
                <img src="/assets/image/instruction/post5.jpg" alt="" width="100%" >
                <div class="text_post"><h1>Hình thức chăm sóc</h1>
                    <p>Hoa Tulip trắng  là biểu tượng của tình yêu thuần khiết, niềm đam mê mãnh liệt, sự bình yên và chiến thắng.</p>
                </div>
            </div>
            <div class="post_3 col-2 d-flex">
                <img src="/assets/image/instruction/post6.jpg" alt="" width="100%" >
                <div class="text_post"><h1>Kỹ Thuật Trồng</h1>
                <p>Hoa Bỉ ngạn mang đến ý nghĩa chia ly, u buồn, không may mắn hay biểu thị sự chết chóc, tan thương.</p>
                </div>
            </div>
            <div class="post_3 col-2 d-flex">
               <img src="/assets/image/instruction/post7.jpg" alt="" width="100%" >
               <div class="text_post"><h1>Phân bón</h1>
               <p>Hoa Bỉ ngạn mang đến ý nghĩa chia ly, u buồn, không may mắn hay biểu thị sự chết chóc, tan thương.</p>
               </div>
           </div>
           <div class="post_3 col-2 d-flex">
            <img src="/assets/image/instruction/post8.jpg" alt="" width="100%" >
            <div class="text_post"><h1>Loại đất</h1>
            <p>Hoa Bỉ ngạn mang đến ý nghĩa chia ly, u buồn, không may mắn hay biểu thị sự chết chóc, tan thương.</p>
            </div>
            
        </div>
      </div>
        </section>

   </main>




   <footer class="col-10 m-auto">
      <div class="footer_bottom m-auto">
         <div class="col-8 row m-auto">
            <div class="col-4 box_menu_footer">
               <Ul class="menu_footer"><a href="">Về Bloom</a>
                  <li><a href="">Giới thiệu Bloom</a></li>
                  <li><a href="">Tuyển Dụng</a></li>
                  <li><a href="">Chính sách bảo mật</a></li>
                  <li><a href="">Điều khoản sử dụng</a></li>
                  <li><a href="">Liên hệ</a></li>
               </Ul>
            </div>
            <div class="col-4 box_menu_footer">
               <Ul class="menu_footer"><a href="">Hỗ trợ khách hàng</a>
                  <li><a href="">Gửi yêu cầu hỗ trợ</a></li>
                  <li><a href="">Hướng dẫn đặt hàng</a></li>
                  <li><a href="">Phương thức vận chuyển</a></li>
                  <li><a href="">Chính sách đổi trả</a></li>
               </Ul>
            </div>
            <div class="col-4 box_menu_footer">
               <Ul class="menu_footer"><a href="">Nước Hoa</a>
                  <li><a href="">Nước Hoa Nữ </a></li>
                  <li><a href=""> Nước Hoa Nam </a></li>
                  <li><a href=""> Xịt Thơm Toàn Thân</a></li>

               </Ul>
            </div>
         </div>
      </div>
   </footer>

   <script src="/assets/Js/slideshow.js"></script>

</body>

</html>