@import'./Base/_varieables';
@import'./Base/_mixins';
@import'./Layout/header';
@import'./Layout/footer';

//-----------PAGES----------------
@import'./Page/home';
@import'./Page/product';
@import'./Page/contact';
@import'./Page/cart';
@import'./Page/product_detail';
@import'./Page/about';
@import'./Page/login';
@import'./Page/profile';
@import'./Page/instruction';
@import'./Page/baiviet';
@import'./Page/checkout';
@import'./Page/reminder';
@import'./Page/thank';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #f2f1f6;

}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
a {
    color: var(--text-color);
    font-family: var(--font-family-pri);
}

li {
    list-style-type: none;
    padding: none;
    margin: none;
    font-family: var(--font-family-pri);
}
ul{
    padding: none;
    margin: none;

}
  .box_card {
      height: auto;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1%;

      .card {
         @include card(var(--color-price), var(--color-title), var(--text-color));
        //  padding: 3%;
         &:hover {
            box-shadow: 5px 5px 10px #b4b4b4,
               -5px -5px 10px #ffffff;
         }
      }
   }
.notification-alert {
    position: fixed;
    top: 20px;
    left: 50%;  
    transform: translateX(-50%);  
    background-color: #28a745; 
    color: white;  
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    font-size: 16px;
    z-index: 9999; 
    width: max-content;
    text-align: center;
    animation: slideIn 0.5s ease-in-out;  
}

.notification-alert.alert-success {
    background-color: #28a745;  
}

.notification-alert.alert-error {
    background-color: #dc3545;  
}


@keyframes slideIn {
    from {
        top: -50px;
        opacity: 0;
    }
    to {
        top: 20px;
        opacity: 1;
    }
}
