.instruction{
    .title{
       background: url(/public/assets/Client/image/instruction/sesion1.png) center ;
       background-size: cover;
       height: 20vmax;
       background-repeat: no-repeat;
    }
    .text_section_1{
        padding-top: 120px;
        font-size: 80px;
        color: white;
        text-align: center;
        text-shadow: 1px 3px 5px black;
        font-family: "Nanum Myeongjo", serif;
    }
    .post_1{
        border-radius: 1px;
        background: white;
        padding-top: 20px;
        overflow: hidden;
        display: flex !important;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
     img{
        transition: transform 0.3s ease; // chuyển hiệu ứng mượt hơn
        text-align: center;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        overflow: hidden; 
        object-fit: cover;
    }
     img:hover{
        transform: scale(1.1); // zoom 10%
     }
    }



    .text_post{
        width: 200px;
    }
    
   .text_post h1{
    font-size: 1.5em;
    color: rgb(8, 92, 40);
    text-align: center;
    font-family: "Nanum Myeongjo", serif;
   }

   .text_post p{
    text-align: center;
    font-size: 0.8em;
    font-family: "Nanum Myeongjo", serif;
   }
    .post_total{
        background-color: white;
        
    }

    .title_2{
        background: url(/public/assets/Client/image/instruction/sesion2.png) center ;
        background-size: cover;
        height: 20vmax;
        background-repeat: no-repeat;
     }
     }

     .text_section_1{
         padding-top: 120px;
         font-size: 80px;
         color: white;
         text-align: center;
         text-shadow: 1px 3px 5px black;
         font-family: "Nanum Myeongjo", serif;
     }
     
     .post_total_2{
        
        position: relative;       
        padding-top: 23px;
        height: 20em;
        background: white;
     }
      
      /* Định dạng chung cho mỗi bước */
      .step-box {
        height: 17em;
        padding: 50px;
        background-color: hsl(122, 37%, 74%);
        position: relative;
        color: #2e7d32;
        font-size: 16px;
      }
      .step-box_6 {
        height: 17em;
        padding: 50px;
        background-color: #59bd5c;
        position: relative;
        color: #59bd5c;
        font-size: 16px;
        box-shadow: 1px 1px 3px black;
      }
      
      /* Định dạng cho mũi tên */
      .step-box::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -20px;
        transform: translateY(-50%);
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #a5d6a7;    
      }
      /* Định dạng cho vòng tròn chứa số */
      .step-circle {
        border: 3px solid #1fa924;
        box-shadow: 1px 1px 5px black;
        width: 70px;
        height: 70px;
        background-color: #ffffff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        color: #2e7d32;
        position: absolute;
        top: -50px;
        left: 80px;
      }
      
      /* Màu sắc khác cho từng bước */
      .step-box:nth-child(1) {
        background-color: #E0F2E9;
      }
      .step-box:nth-child(1)::after {
        border-left-color: #E0F2E9;
      }
      .step-box:nth-child(2) {
        background-color: #A5D6A7;
      }
      .step-box:nth-child(2)::after {
        border-left-color: #A5D6A7;
      }
      
      .step-box:nth-child(3) {
        background-color: #81C784;
      }
      .step-box:nth-child(3)::after {
        border-left-color: #81C784;
      }
      
      .step-box:nth-child(4) {
        background-color: #6dc170;
      }
      .step-box:nth-child(4)::after {
        border-left-color: #6dc170;
      }
      .step-box:nth-child(5) {
        background-color: #64c067;
      }
      .step-box:nth-child(5)::after {
        border-left-color: #64c067;
      }

      
      .box1{
        margin-right: 0em;
        z-index: 5;
        box-shadow: 1px 1px 20px black;
      }
      .box2{
        margin-right: 0em;
        z-index: 4;
        box-shadow: 1px 1px 20px black;
      }
      .box3{
        margin-right: -0em;
        z-index: 3;
        box-shadow: 1px 1px 20px black;
      }
      .box4{
        margin-right: -0em;
        z-index: 2;
        box-shadow: 1px 1px 20px black;
      }
      .box5{
        margin-right: -0em;
        z-index: 1;
        box-shadow: 1px 1px 20px black;
      }
      .box1:hover{
        transition: transform 0.3s ease;
        transform: scale(1.1); /* Tăng kích thước lên 110% khi hover */
      }
      .box2:hover{
        transition: transform 0.3s ease;
        transform: scale(1.1); /* Tăng kích thước lên 110% khi hover */
      }
      .box3:hover{
        transition: transform 0.3s ease;
        transform: scale(1.1); /* Tăng kích thước lên 110% khi hover */
      }
      .box4:hover{
        transition: transform 0.3s ease;
        transform: scale(1.1); /* Tăng kích thước lên 110% khi hover */
      }
      .box5:hover{
        transition: transform 0.3s ease;
        transform: scale(1.1); /* Tăng kích thước lên 110% khi hover */
      }
      .box6:hover{
        transition: transform 0.3s ease;
        transform: scale(1.1); /* Tăng kích thước lên 110% khi hover */
      }


    
    .title_3{
        background: url(/public/assets/Client/image/instruction/section3.png) center ;
        background-size: cover;
        height: 20vmax;
        position: relative;
        background-repeat: no-repeat;
     }
    .post_3{
        border-radius: 1px;
        background: white;
        padding-top: 20px;
        overflow: hidden;
        display: flex !important;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
     img{
        transition: transform 0.3s ease;
        text-align: center;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        overflow: hidden; 
        object-fit: cover;
    }
    img:hover{
        transform: scale(1.1);
     }
    }
    






